<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <h1><strong>WunderList</strong> Parser</h1>
    <p>A utility to parse textual data into a list of tasks in WunderList.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div> -->

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-xs-12">
        <div class="page-header">
          <h1><strong>WunderList</strong> Parser</h1>
        </div>
        <p class='lead'>A utility to parse textual data into a list of tasks in WunderList.</p>
        <div class="bs-callout bs-callout-danger">
          <h4>Source Code</h4>
          <p>Will be uploaded to github.<p>
          <h4>More formats to come</h4>
          <p>So far the utility only parses line separated text. More formats to be supported in the future.</p>
        </div>
        <a class="btn btn-default btn-lg btn-block" href="<%= button.href %>" role="button"><%= button.text %></a>
      </div>
  </div>
</div


</body

</html>