<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header-materialize.ejs %>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      
      <div class="card hoverable">
        <div class="card-content">

            <span class="card-title red-text text-lighten-1"><strong>WunderList</strong> Parser</span>
            <div class="divider"></div>

            <div class="section">
              <p class=''>A utility to parse textual data into a list of tasks in WunderList.</p>
              <p>So far the utility only parses line separated text. More formats to be supported in the future.</p>
              <p>Source code is hosted at <a target="_blank" href="https://github.com/AlahmadiKw/wunderlist-utilities">Github</a>.</p>
            </div>
            
            <div class="section">
              <p>For issues and feature requests please create an issue or <a href="mailto:m.mohammad@ucla.edu?Subject=[wunderlist-parser]" target="_top">email me</a>. Also, check out my personal site at <a target='_blank' href="https://alahmadiq8.github.io/">https://alahmadiq8.github.io/</a></p>
            </div>


            <form class='center-align' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA7xBJAuIv7IYBMcXJ/5my4ex0kblyMAtcnI0bkyO+OBvqEkPR7U+0ZbJZ9/aHgLITNYqJdgamtHAMr0U2pd4zrMuQNVP7DTvHMKTf9owEKiObAnKoVKPfp25bq9OVMEbuyUkDWk+Wj0BzCJxBWPQ2u3UVGhSw2BmEhSB6FsGMJtzELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI5Ob1qWESBE2AgZDtx4VAuGkx3TPDyjaFQ1dW8cZpPWxymb1Jl1n+5KfYYMnd64gJUBVWVs4iril4peLhXXxWAU6K7L4cTCaKrXL1OdG5wNoZfWbDih97nPqwiE1TqUL4JC6yNDIsX2scx1aGZMc+G1L1+QW/OggKZn8hJ7I9byyeiZ5AkExbYMjuQmF2uUwPMqWa22Wi09lyUY2gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjA5MTcxOTI2MTBaMCMGCSqGSIb3DQEJBDEWBBQoLeCIGSWSEi883zRsYZYWX/ACUTANBgkqhkiG9w0BAQEFAASBgBCkYDmVlakPT/UFlSxcgxAukd+dCGf/oCAXoEV3bCJuLhHgkK9KKX40Uuo7zRp+qNMSDm2KXI0psVLMQ/qaFykw74ZFrXgxTyTGek4sEeOMW8xVbzUHRMxvNo+0s6xchGXkqXL0/itsv5ZKfTMiwXcjNsGNWD2M9L2Fcz1L9lV8-----END PKCS7-----">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <p class='center-align'>If you find this helpful, any small donation is appreciated 😁</p>

 

        </div>
        <div class="card-action center-align blue lighten-2 create-list-container">
          <a href="<%= button.href %>" class='btn-flat white-text create-list'><%= button.text %></a>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
            <span class="card-title">Change Log</span>

            <div class="section">
              <p><b>2016-11-20</b></p>
              <div class="collection">
                <div class="collection-item">Added link to my <a href="https://alahmadiq8.github.io">personal site</a></div>  
              </div>
            </div>

            <div class="section">
              <p><b>2016-09-5</b></p>
              <div class="collection">
                <div class="collection-item">You can now append tasks to existing lists</div>
                <div class="collection-item">Some minor fixes</div>
                <div class="collection-item">Code refactoring</div>  
              </div>
            </div>

            <div class="section">
              <p><b>2016-06-26</b></p>
              <div class="collection">
                <div class="collection-item">Switched to redis for session store </div>
                <div class="collection-item">Fixed tasks being created in the wrong order</div>
                <div class="collection-item">Added Bluebird Promises for requests</div>  
                <div class="collection-item">/parser now has a middleware to check authentication</div>  
              </div>
            </div>
          </div>
        </div>
      <!-- <p class="grey-text last center-align">Click <a href='#'>here</a> to start over.</p> -->

    </div>
  </div>
</div>

</body>

</html>