<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header-materialize.ejs %>
</head>

<body>

<div class="container">
  <div class="row">
    <form class="col s12 m8 offset-m2">
      
      <div class="card hoverable">
        <div class="card-content">

          <span class="card-title red-text text-lighten-1"><strong>WunderList</strong> Parser</span>
           <div class="divider"></div>

          <div class="input-field">
            <i class="material-icons prefix grey-text">assignment</i>
            <input id="list_title" type="text" class="validate">
            <label for="list_title">List Title</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix grey-text">mode_edit</i>
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Tasks</label>
          </div>


        </div>
        <div class="card-action center-align blue lighten-2">
          <a href="#" class='white-text'>Create List</a>
        </div>
      </div>
      <p class="grey-text last center-align">Click <a gref='/logout'>here</a> to start over.</p>

    </form>
  </div>
</div


</body

</html>